@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 20%;
  width: 20px !important;
  /* font-size: 70px; */
}
.alice-carousel__prev-btn {
  left: 0;
}
.alice-carousel__next-btn {
  right: 0;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: white !important;
}
.alice-carousel__dots-item:not(.__custom) {
  background-color: #3832a0 !important;
}

.lh-top {
  position: relative;
  animation: animatetop 0.6s;
}

@keyframes animatetop {
  from {
    top: -3000px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-duration: 10s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.apexcharts-tooltip {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* main */
.custom_animation_bg {
  background: linear-gradient(133deg, #4718e6, #c37aff, #56d1ff, #6b1cd7);
  background-size: 800% 800%;
  -webkit-animation: CustomAnimation 14s ease infinite;
  -moz-animation: CustomAnimation 14s ease infinite;
  -o-animation: CustomAnimation 14s ease infinite;
  animation: CustomAnimation 14s ease infinite;
}

.custom_animation_bg2 {
  background: linear-gradient(
    107.61deg,
    #12a59c 0.15%,
    #008dd3 36.03%,
    #423daa 70.88%,
    #6500b1 100%
  );
  background-size: 800% 800%;
  -webkit-animation: CustomAnimation 14s ease infinite;
  -moz-animation: CustomAnimation 14s ease infinite;
  -o-animation: CustomAnimation 14s ease infinite;
  animation: CustomAnimation 14s ease infinite;
}

.box-container-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 50px 0px 50px 0px;
  /* background-image: url("/bg-walkthrough.png");
  background-size: cover; */
  background: linear-gradient(133deg, #4718e6, #c37aff, #56d1ff, #6b1cd7);
  background-size: 800% 800%;
  -webkit-animation: CustomAnimation 14s ease infinite;
  -moz-animation: CustomAnimation 14s ease infinite;
  -o-animation: CustomAnimation 14s ease infinite;
  animation: CustomAnimation 14s ease infinite;
}
@-webkit-keyframes CustomAnimation {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}
@-moz-keyframes CustomAnimation {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}
@-o-keyframes CustomAnimation {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}
@keyframes CustomAnimation {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}

/* question compoent */
.questionType {
  position: relative;
  width: 100%;
  background-color: #423daa;
  border-radius: 20px 20px 20px 0px;
  -webkit-border-radius: 20px 20px 20px 0px;
  -moz-border-radius: 20px 20px 20px 0px;
  -ms-border-radius: 20px 20px 20px 0px;
  -o-border-radius: 20px 20px 20px 0px;
  color: #fff;
  margin: 0 auto;
}

.question-inner-container {
  padding: 40px 20px;
}

.question-inner-container h4 {
  line-height: 1;
}

.question-inner-container h6 {
  margin-top: 10px;
}

/* answer component */
.answerType {
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  width: 100%;
  -webkit-border-radius: 20px 20px 0px 20px;
  -moz-border-radius: 20px 20px 0px 20px;
  -ms-border-radius: 20px 20px 0px 20px;
  -o-border-radius: 20px 20px 0px 20px;
}

.answer-inner-container {
  padding: 40px;
  border-radius: 20px 20px 0px 20px;
  border: 8px solid #423daa;
  color: #111827;
}

.answer-inner-container h6 {
  color: #111827;
}

/* slide */
.slide {
  animation: slide 1s ease-in-out, fadeIn 1.6s;
  -webkit-animation: slide 1s ease-in-out, fadeIn 1.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateY(400%);
    -webkit-transform: translateY(400%);
    -moz-transform: translateY(400%);
    -ms-transform: translateY(400%);
    -o-transform: translateY(400%);
  }
  to {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

.fadeOut {
  animation-duration: 10s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* verify code */
.verifyCode-input-container {
  justify-content: center;
}

.verifyCode-link-container {
  text-align: center;
}

.verifyCode-link-container a {
  font-size: 15px;
  font-weight: 600;
}

.errorInput > div {
  border: 2px solid #da6868;
}

.errorBtn {
  background-color: #da6868 !important;
}

.hidden {
  display: none;
}

/* loading spinner */

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 44px;
  height: 44px;
  border: 4px solid #fff;
  border-top: 4px solid #5048e5;
  border-bottom: 4px solid #5048e5;
  border-left: 4px solid #5048e5;
  border-radius: 50%;
  margin: 0 auto;
  animation: spinner 1.5s linear infinite;
}

/* check mark */
.spinnerCheck-container {
  text-align: center;
}

.spinnerCheck-container h3 {
  color: #111827;
  font-size: 32px;
}

/* finance help */

.finances-container {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 0;
  padding: 25px 0;
  border-radius: 10px !important;
}

.finance-box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  color: "#000";
  width: 100px;
  height: 100px;
}

.finance-box svg {
  width: 35px;
  height: 35px;
}

.continueBtn-container {
  margin-top: 20px;
}

/* asset  */
.assets-box {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
  color: "#000";
  width: 142px;
  height: 100px;
}

.assets-box svg {
  width: 100%;
  height: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
